@font-face {
	font-family: 'rodondo';
	src: url('resources/fonts/rodondo.woff2') format('woff2'),
		 url('resources/fonts/rodondo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	box-sizing: border-box;
}

body {
	font-family: rodondo;
	padding: 0px;
	margin: 0px;
	background-color: white;
	overflow: hidden;
}

p {
	margin: 0px;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 0.5vmin;
	flex-wrap: wrap;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

input[type="submit"] {
	width: auto;
}

input[type="text"] {
	width: 5vmin;
}

[customTitle] {
	position: relative;
}
	
[customTitle]:after {
	content: attr(customTitle);
	pointer-events: none;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 3px 0.5vmin 7px;
	white-space: nowrap;
	z-index: 99999;
	visibility: hidden;
	position: absolute;
	left: 0%;
	bottom: 120%;
	border-radius: 4px 4px 4px 4px;
	font-size: 0.875rem;
	box-shadow: rgba(0, 0, 0, 0.15) 1.90.5vmin 1.90.5vmin 2.6px;
}
	
[customTitle]:hover:after {
	opacity: 1;
	transition: all 0.3s;
	visibility: visible;
}

button {
	padding: 0px;
	cursor: pointer;
	font-size: 3vmin;
	border: 0.5vmin solid #666666;
	border-radius: 1vmin;
	width: 6vmin;
	height: 5vmin;
	outline: none;
	background-color: rgb(187, 187, 187);
	text-align: center;
}

#importLabel {
	font-family: sans-serif;
	padding: 0px;
	cursor: pointer;
	font-size: 1vmin;
	border: 0.5vmin solid #666666;
	border-radius: 1vmin;
	outline: none;
	background-color: rgb(187, 187, 187);
	text-align: center;
}

#importLabel:hover {
	border: 0.5vmin solid #d6ae28
}

button > img {
	width: 4vmin;
}

button:hover {
	border: 0.5vmin solid #d6ae28
}

button[selected="true"] {
	border: 0.5vmin solid #b401cc
}

button[selected="true"]:hover {
	border: 0.5vmin solid #8201cc
}

button[selected="false"] {
	border: 0.5vmin solid #666666
}

button[selected="false"]:hover {
	border: 0.5vmin solid #d6ae28
}

.toolBox {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0px;
	padding: 0.8vmin;
	outline: 0.8vmin solid black;
	border-radius: 0.1vmin;
	gap: 0px;
	width: 20vmin;
	height: auto;
	position: fixed;
	top: 10px;
	background-color: #ac87b8c4;
}

label {
		font-size: 1.5vmin;
}

hr {
	border: none;
	height: 0.2vmin;
	background-color: rgb(95, 95, 95);
	width: 19vmin;
}

.collapseButton {
	width: auto;
	height: 30px;
	font-size: 15px;
	position: fixed;
	bottom: 10px;
}

#toolCollapseButton {
	left: 10px;
}

#settingsCollapseButton {
	right: 10px;
}

.levelSettings {
	height: 40vmin;
	align-items: top;
}

.editorSettings {
	height: 40vmin;
	align-items: top;
}

.toolHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header {
	font-size: 2vmin;
	color: black;
	margin-top: 0.3vmin;
	margin-bottom: 0.6vmin;
}

.subHeader {
	font-size: 1.5vmin;
	color: rgb(87, 87, 87);
	margin-top: 0.3vmin;
	margin-bottom: 0.6vmin;
}

.toolSet {
	display: flex;
	flex-direction: column;
	padding-bottom: 0.5vmin;
	padding-top: 0px;
	height: auto;
}

#allModes {
	width: auto;
	height: 40px;
	left: 50%;
	bottom: 10px;
}

#modeButtons button {
	font-size: 1rem;
	height: 40px;
	width: 20vmin;
}

#modeSettings button {
	font-size: 1rem;
}

[hidden="true"] {
	display: none;
}

[showDivider="false"] hr {
	display: none;
}

[selectable="false"] {
	user-select: none;
}