<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="text/javascript" />
            <mimeMap fileExtension=".mjs" mimeType="text/javascript" />
        </staticContent>
    </system.webServer>
</configuration>
